<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 

<body style="min-height:100vh">
    <%- include('partials/navbar') %> 

    <!-- profile Section -->
    <div class="profile-container">
        <div class="profile card">
            <h2><img id ="profimag" src="https://icon-library.com/images/coder-icon/coder-icon-13.jpg" alt=""> Profile</h2>
            <div class="details">
                 <ul >
                    <% if (Data.Profile != {}){ for (var prop in Data.Profile ) { %>
                        <li> <%= prop %> : <%= Data.Profile[prop] %></li>
                    <% } } else {%>
                        <li>No data available</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>



    <!-- Table / Collection Section -->
    <div>
        <h2>Requests on the Transport Network</h2>
        <div class = "box">
        
             <% if (Data.Requests != []) { for (const Request of Data.Requests) { %>
            <div class="card">
                <div class = "container">
                    <form action="/distributor/accept-request" method="post">
                        <% if (Request != {}) { %>
                        <label for="Product"> Product :</label>
                        <input type="text" name="Product" value= <%= Request.Product %> readonly><br><br>
                        <label for="Material"> Material :</label>
                        <input type="text" name="Material" value= <%= Request.Material %> readonly><br><br>
                        <label for="TransportAddress"> Transport :</label>
                        <input type="text"  name="TransportAddress" value= <%= Request.Transport %> readonly><br><br>
                        <input type="submit" value="Accept Request">
                        <% }%>
                    </form>
                </div>
            </div>
            <% } } %>
</div>
</div>
    <div>
        <img id = "bg" src="http://coritraveller.com/wp-content/uploads/2020/03/distributor.png" alt="">
    </div>

    <%- include('partials/footer') %> 
</body>
</html>